
<section class="home">
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet", href="../page/page.component.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Oswald:wght@600&family=Whisper&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="content-wrapper">

       <img src="../../assets/poster3.png"  alt="...">
        <div class="text-wrapper">
          <h1>Hemacare.</h1>
          <h1>Helping patients in need</h1>
        </div>
      </div>
        <div class="homecontent">
        <a routerLink="#" class= "btn btn-lg btn-outline-danger" >Blood Donation Camps</a> &nbsp;
        <a routerLink="bloodbanks" class = "btn btn-lg btn-outline-danger">Blood Banks List</a> &nbsp;
        <a routerLink="#" class = "btn btn-lg btn-outline-danger">Blood Inventory</a>
        </div>

      <div class="poster">

        <div class="row">
          <div class="column">
            <img src="../../assets/poster1.jpg" alt="Snow" style="width:100%">
          </div>
          <div class="column">
            <img src="../../assets/poster2.jpg" alt="Forest" style="width:100%">
          </div>
      </div>
    </div>





    </body>
    </html>
</section>





